.btn-signup {
  background-color: rgb(121, 19, 19);
  border-color: rgb(121, 19, 19);
  color: rgb(255, 255, 255);
}
.btn-signup:hover {
  background-color: darkred;
  border-color: darkred;
}
.btn-signup:active {
  background-color: #800000;
  border-color: #800000;
}


/* Hide arrows in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
